= form_with(model: [book, @book.comments.build()],url: book_comments_path(book_id: book.id), method: :post) do |form|
  - if !parent.nil?
    = form.hidden_field :parent_id, value: parent.id
  %div
    = form.text_field :content
  = form.submit "Submit"